<!DOCTYPE html>
<html>
<head>
  <header></header>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/hogwarts">Students at Hogwarts</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
